.shop-image-container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 500px;
  border: 1px solid black;
  .img-sample {
    width: 80%;
    height: 100%;
    border: 1px solid coral;
  }
}

@media (max-width: 480px) {
  .shop-image-container {
    width: 480px;
    height: 200px;
  }
}
